.page {
  margin-left: auto;
  margin-right: auto;
}

.page__content {
  margin-bottom: 4rem;
}

.page__h2Container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.page__h2Link {
  color: var(--color-tertiary);
  margin-left: 0.5rem;
}

.page__hr {
  margin-bottom: 2rem;
  border-color: transparent;
  border-bottom: 0.25rem solid var(--color-tertiary);
}

.page__ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 4rem;
}

.page__ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 4rem;
}

.page__li {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

.page__img {
  width: 100%;
  height: auto;
  margin: 1rem 0 2rem 0;
}

.page__table {
  width: 100%;
  text-align: left;
  border: 0.125rem solid var(--color-foreground);
  border-collapse: collapse;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* 
.content :global(figure) {
  width: 100%;
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.content :global(figure) :global(img) {
  margin-bottom: 1rem;
  border: 0.25rem solid var(--yellow);
}

.content :global(figure) :global(figcaption) {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
  margin-top: 1rem;
  color: var(--yellow);
}

.content :global(pre) {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border: 0.125rem solid var(--offwhite);
  box-shadow: 8px 8px 0 0 var(--offwhite);
  white-space: pre-wrap;
  word-break: break-word;
}

.content :global(code) {
  line-height: 1.4rem;
} */

/* 
.content :global(tr) {
  border-bottom: 0.125rem solid var(--offwhite);
  padding: 0.5rem;
}

.content :global(td),
.content :global(th) {
  border-bottom: 0.125rem solid var(--offwhite);
  border-right: 0.125rem solid var(--offwhite);
  padding: 0.5rem;
}

.content :global(td):last-of-type,
.content :global(th):last-of-type {
  border-right-width: 0;
} */

/* 
.content :global(a) {
  color: var(--green);
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: none;
}

.content :global(a):visited {
  color: var(--green);
}

.content :global(a):hover {
  color: var(--white);
}

.content :global(a):focus {
  outline-width: 0;
  box-shadow: var(--yellow) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.content :global(a):focus:active {
  outline-width: 0;
  box-shadow: unset;
} */
