.page {
  margin-left: auto;
  margin-right: auto;
}

.page__content {
  margin-bottom: 4rem;
}

.page__copy {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--white);
}

.page__copy__bold {
  font-weight: var(--font-weight-bold);
}

.page__h1 {
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 3rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

@media screen and (min-width: 600px) {
  .page__h1 {
    font-size: 2.8rem;
    line-height: 1.4;
  }
}

.page__h2 {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-top: 6rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

@media screen and (min-width: 600px) {
  .page__h2 {
    font-size: 2.2rem;
  }
}

.page__h3 {
  font-size: 1.4rem;
  line-height: 1.8;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

.page__h4 {
  /* TODO */
  color: blue;
}

.page__h5 {
  /* TODO */
  color: blue;
}

.page__h6 {
  /* TODO */
  color: blue;
}

.page__blockquote {
  display: block;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}

.page__blockquote p {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.6;
}

@media screen and (min-width: 600px) {
  .page__blockquote {
    margin-inline-start: 4rem;
    margin-inline-end: 4rem;
  }

  .page__blockquote p {
    font-size: 1.6rem;
  }
}

.page__blockquote:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height='44px' width='44px'%3E%3Cpath fill='%2382af3a' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z' /%3E%3C/svg%3E%0A");
}

.page__hr {
  margin-bottom: 2rem;
  border-color: transparent;
  border-bottom: 0.25rem solid var(--color-tertiary);
}

.page__ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 4rem;
}

.page__ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 4rem;
}

.page__li {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

.page__img {
  width: 100%;
  height: auto;
  margin: 1rem 0 2rem 0;
}

.page__table {
  width: 100%;
  text-align: left;
  border: 0.125rem solid var(--color-foreground);
  border-collapse: collapse;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.page__inlineLink {
  color: var(--color-foreground);
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

.page__inlineLink:visited {
  color: var(--color-foreground);
}

.page__inlineLink:hover {
  color: var(--color-foreground);
}

.page__inlineLink:focus {
  outline-width: 0;
  box-shadow: var(--color-tertiary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.page__inlineLink:focus:active {
  outline-width: 0;
  box-shadow: unset;
}

/* 
.content :global(figure) {
  width: 100%;
  display: block;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.content :global(figure) :global(img) {
  margin-bottom: 1rem;
  border: 0.25rem solid var(--yellow);
}

.content :global(figure) :global(figcaption) {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-style: italic;
  margin-top: 1rem;
  color: var(--yellow);
}

.content :global(pre) {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border: 0.125rem solid var(--offwhite);
  box-shadow: 8px 8px 0 0 var(--offwhite);
  white-space: pre-wrap;
  word-break: break-word;
}

.content :global(code) {
  line-height: 1.4rem;
} */

/* 
.content :global(tr) {
  border-bottom: 0.125rem solid var(--offwhite);
  padding: 0.5rem;
}

.content :global(td),
.content :global(th) {
  border-bottom: 0.125rem solid var(--offwhite);
  border-right: 0.125rem solid var(--offwhite);
  padding: 0.5rem;
}

.content :global(td):last-of-type,
.content :global(th):last-of-type {
  border-right-width: 0;
} */

/* 
.content :global(a) {
  color: var(--green);
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: none;
}

.content :global(a):visited {
  color: var(--green);
}

.content :global(a):hover {
  color: var(--white);
}

.content :global(a):focus {
  outline-width: 0;
  box-shadow: var(--yellow) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.content :global(a):focus:active {
  outline-width: 0;
  box-shadow: unset;
} */
