.footer {
  background-color: var(--color-foreground);
  padding: 4rem 2rem;
  margin-top: 2rem;
}

.footer__copyright {
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font-family-main);
  color: var(--color-tertiary);
  display: flex;
  justify-content: center;
  align-content: center;
}
