.postList {
  list-style: none;
  padding-inline-start: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.postList__post {
  margin-bottom: 4rem;
}

.postList__titleLink {
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 2rem;
  display: block;
}

.postList__titleLink:hover {
  color: var(--color-tertiary);
}

.postList__titleLink:focus {
  outline-width: 0;
  box-shadow: var(--color-tertiary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.postList__titleLink:focus:active {
  outline-width: 0;
  box-shadow: unset;
}

.postList__title {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  font-size: 2rem;
  line-height: 1.4;
}

.postList__excerpt {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}

.postList__link {
  color: var(--color-tertiary);
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  text-decoration: none;
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid var(--yellow);
  transition: color var(--global-transition-time) ease-in-out,
    border-color var(--global-transition-time) ease-in-out;
  cursor: pointer;
}
