.eventList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem 0;
}

.eventList__item {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  border-top: 0.25rem solid var(--color-tertiary);
}

.eventList__itemImageContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.eventList__itemImageContainer img {
  border-radius: 0.75rem;
}

.eventList__itemDate {
  background-color: var(--color-foreground);
  color: var(--color-background);
  border: 0.125rem solid var(--color-secondary);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-normal);
  margin-top: 1rem;
}

.eventList__itemName {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.eventList__itemDescription {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  word-break: break-word;
}

.eventList__itemLink {
}

.eventList__itemDescriptionLink {
}

.eventList__itemDescriptionBold {
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  .eventList__item {
    grid-template-columns: 1fr 1fr;
  }

  .eventList__itemImageContainer {
    order: 2;
  }
}
