.footer {
  background-color: var(--color-foreground);
  color: var(--color-background);
  padding: 2rem 2rem 4rem;
  border-top: 0.25rem solid var(--color-tertiary);
  display: flex;
  flex-direction: column;
}

.footer__socialLinksContainer {
  margin-left: -2rem;
  margin-right: -2rem;
}

.footer__ctaContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer__copyright {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  text-align: center;
}

.footer__privacyPolicyLink {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-background) !important;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
