.header {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-content: center;

  height: var(--header-outer-height);
  position: sticky;
  top: calc(var(--header-height-difference) * -1);
  z-index: 5;

  box-shadow: rgb(0 0 0 / 10%) -2px 2px 5px;
}

.header__skipToMainContent {
  display: flex;
  justify-content: center;
  color: var(--color-foreground);
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  line-height: 1;
}

.header__skipToMainContent:visited {
  color: var(--color-foreground);
}

.header__skipToMainContent:focus {
  color: var(--color-background);
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s,
    color ease-in-out 0.2s;
}

.header__skipToMainContent:focus:active {
  outline: none;
  box-shadow: unset;
}

.header__logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-foreground);
  padding: 0 1rem 1rem 1rem;
}

.header__logoContainerLink {
  text-decoration: none;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

.header__logoContainerLink:focus {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.header__logoContainerLink:focus:active {
  outline: none;
  box-shadow: unset;
}

.header__logo {
  height: 8rem;
}

.header__nav {
  height: var(--header-inner-height);
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-foreground);
  padding: 0.5rem 1rem;
  border-bottom: 0.25rem solid var(--color-tertiary);
}

.header__navList {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .header__navList {
    flex-direction: row;
  }
}

.header__navList__hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navList__hide {
    display: flex !important;
  }
}

.header__navListItem {
  text-transform: uppercase;
  color: var(--color-background);
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 1px;
  transition: color var(--global-transition-time) ease-in-out;
  display: inline-block;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__navListItem {
    font-size: 1rem;
  }
}

.header__navListItem.header__navListItem__active {
  color: var(--color-primary);
}

.header__navListItemLink {
  padding: 0.8rem 1rem;
  display: block;
  color: inherit;
  text-decoration: none;
}

.header__navListItemLink:visited {
  color: inherit;
}

.header__navListItemLink:hover {
  color: inherit;
}

.header__navListItemLink:focus {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.header__navListItemLink:focus:active {
  outline: none;
  box-shadow: unset;
}

.hamburger {
  padding: var(--hamburger_padding-y) var(--hamburger_padding-x);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0.25rem;
  overflow: visible;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger:focus {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.hamburger:focus:active {
  outline: none;
  box-shadow: unset;
}

.hamburger:hover {
  opacity: var(--hamburger_hover-opacity);
}

.hamburger.is__open:hover {
  opacity: var(--hamburger_active-hover-opacity);
}

.hamburger__box {
  width: var(--hamburger_layer-width);
  height: calc(
    calc(var(--hamburger_layer-height) * 3) +
      calc(var(--hamburger_layer-spacing) * 2)
  );
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  display: block;
  top: calc(var(--hamburger_layer-height) / 2);
  margin-top: calc(var(--hamburger_layer-height) / -2);
  background-color: var(--hamburger_layer-color);
  transition: background-color 0s 0.13s linear;
  content: "";
  display: block;
  width: var(--hamburger_layer-width);
  height: var(--hamburger_layer-height);
  background-color: var(--hamburger_layer-color);
  border-radius: var(--hamburger_layer-border-radius);
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner:before,
.hamburger__inner:after {
  content: "";
  display: block;
  width: var(--hamburger_layer-width);
  height: var(--hamburger_layer-height);
  background-color: var(--hamburger_layer-color);
  border-radius: var(--hamburger_layer-border-radius);
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger__inner:before {
  top: calc(var(--hamburger_layer-height) + var(--hamburger_layer-spacing));
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__inner:after {
  top: calc(
    calc(var(--hamburger_layer-height) * 2) +
      calc(var(--hamburger_layer-spacing) * 2)
  );
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__text {
  text-transform: uppercase;
  color: var(--color-primary);
  font-size: 1.4rem;
  line-height: 1;
  margin-left: 1rem;
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  text-align: center;
}

.is__open .hamburger__inner {
  transition-delay: 0.22s;
  background-color: transparent !important;
}

.is__open .hamburger__inner:before {
  top: 0;
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(
      0,
      calc(var(--hamburger_layer-spacing) + var(--hamburger_layer-height)),
      0
    )
    rotate(45deg);
}

.is__open .hamburger__inner:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(
      0,
      calc(var(--hamburger_layer-spacing) + var(--hamburger_layer-height)),
      0
    )
    rotate(-45deg);
}
