.container {
  border: 0.125rem solid var(--color-border);
  border-radius: 0.25rem;
  padding: 2rem;
}

.top {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.imgContainer {
  align-self: center;
}

.img {
  border-radius: 50%;
}

.nameContainer {
}

.twitterName {
  font-size: 1.2rem;
  line-height: 1;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  color: var(--color-foreground);
}

.twitterUsername {
  font-size: 1rem;
  line-height: 1;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  color: var(--color-foreground);
}

.logo {
  align-self: center;
}

.tweetText {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  word-break: break-word;
  white-space: pre-wrap;
}

.tweetText a {
  color: inherit;
  transition: color var(--global-transition-time) ease-in-out;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
  text-decoration-thickness: 0.125rem;
}

.tweetText a:visited {
  color: var(--color-foreground);
}

.tweetText a:hover {
  color: var(--color-foreground);
}

.tweetText a:focus {
  outline-width: 0;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.tweetText a:focus:active {
  outline-width: 0;
  box-shadow: unset;
}

.mediaImg {
  border: 0.25rem solid var(--color-primary) !important;
  border-radius: 1rem;
}

.urlPreview {
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 2rem;
  border: 0.25rem solid var(--color-primary);
  border-radius: 1rem;
  overflow: hidden;
  text-decoration: none;
}

.urlPreview__inner {
  margin-right: 1rem;
}

.urlPreview__imgContainer {
  position: relative;
}

.urlPreview__imgContainer img {
  object-fit: cover;
}

.urlPreview__title {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  text-decoration: none;
}

.urlPreview__description {
  font-size: 1rem;
  line-height: 1.4;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  text-decoration: none;
}

.urlPreview__shortUrlDisplay {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 1rem;
}

.urlPreview__linkIconContainer {
  margin-right: 0.5rem;
  color: var(--color-foreground);
}

.urlPreview__shortUrlDisplay__url {
  color: var(--color-foreground);
  font-size: 1rem;
  line-height: 1rem;
  font-weight: var(--font-weight-normal);
}

.metrics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.metrics__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  align-items: center;
}

.metrics__iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.metrics__metric {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: var(--font-weight-light);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
}
