.metrics__title {
  color: var(--color-background);
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  display: block;
  font-size: 1rem;
  line-height: 1;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.metrics__title:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: var(--color-secondary);
  border-radius: 50%;
  animation: flash 4s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .metrics__title:before {
    animation: none; /* or define an alternate animation */
  }
}

.metricsGrid {
  display: grid;
  column-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.metricsCard {
  width: 100%;
  padding: 0.75rem;
  border: 0.125rem solid var(--color-background);
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .metricsCard {
    padding: 1rem;
  }
}

.metricsCard__updated {
  border-color: var(--color-primary);
}

.metricsCard__headerLink {
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  border-bottom: 0.125rem solid var(--color-tertiary);
  padding-bottom: 0.125rem;
}

.metricsCard__headerLink:focus,
.metricsCard__headerLink:hover {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}

.metricsCard__headerText {
  letter-spacing: 1px;
  color: var(--color-primary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  display: block;
  font-size: clamp(0.8rem, 1vw, 1rem);
  line-height: 1;
  padding: 0.5rem 0;
}

.metricsCard__headerText__large {
  display: none;
}

@media screen and (min-width: 768px) {
  .metricsCard__headerText__small {
    display: none;
  }
  .metricsCard__headerText__large {
    display: block;
  }
}

.metricsCard__metric {
  font-family: var(--font-family-main);
  color: var(--color-background);
  font-size: clamp(2rem, 2vw, 3rem);
  font-weight: var(--font-weight-normal);
}

@media screen and (min-width: 800px) {
  .metricsCard__metric {
    font-size: 3rem;
  }

  .metricsCard__headerLink svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.metricsCard__updated .metricsCard__metric {
  color: var(--color-secondary);
}
