.projects {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

@media screen and (min-width: 600px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects__project {
  background-color: var(--color-background);
  border: 0.25rem solid var(--color-tertiary);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-primary);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projects__project img {
  /* border-bottom: 0.25rem solid var(--color-primary) !important; */
}

.projects__detailsContainer {
  padding: 1rem 1rem 2rem 1rem;
}

.projects__projectTitle {
  letter-spacing: 1px;
  color: var(--color-foreground);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  display: block;
  font-size: 1rem;
  line-height: 1.4;
  font-family: var(--font-family-main);
  text-align: center;
  margin-bottom: 1rem;
}

.projects__projectDescription {
  color: var(--color-foreground);
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  font-family: var(--font-family-main);
}

.projects__projectLink {
  letter-spacing: 1px;
  color: var(--color-foreground);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem 0;
  border-bottom: 0.125rem solid var(--color-tertiary);
}

.projects__projectLink:focus,
.projects__projectLink:hover {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow 0.2s ease 0s;
}
