.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;
}

.publishedDate {
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  display: flex;
  align-items: center;
}

.publishedDate:before {
  display: flex;
  align-self: center;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' height='24px' width='24px'%3E%3Cpath fill='%23ffb626' d='M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z'%3E%3C/path%3E%3C/svg%3E");
}

.divider {
  margin: 0 0.5rem;
}

.readingTime {
  font-family: var(--font-family-main);
  color: var(--color-foreground);
  font-size: 1rem;
  font-style: italic;
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-normal);
}
