@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.twitchSchedule {
  padding: 2rem 2rem 0 2rem;
  margin: auto;
  max-width: var(--landing-wrapper-max-width);
}

.twitchSchedule__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.125rem solid var(--color-tertiary);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.twitchSchedule__liveNow {
  background-color: var(--color-background);
  color: var(--color-black);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border: 0.25rem solid var(--color-tertiary);
}

.twitchSchedule__liveNowText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.twitchSchedule__liveNowText:before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-color: var(--color-tertiary);
  border-radius: 50%;
  animation: flash 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .twitchSchedule__liveNowText:before {
    animation: none;
  }
}

.twitchSchedule__title {
  letter-spacing: 1px;
  color: var(--color-background);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
  line-height: 1;
}

.twitchSchedule__titleIcon {
  margin-right: 1rem;
}

.twitchSchedule__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.twitchSchedule__item {
  padding-top: 1rem;
  text-decoration: none;
  margin-bottom: 1rem;
  border-bottom: 0.125rem solid var(--color-tertiary);
}

.twitchSchedule__item:last-of-type {
  border-bottom-width: 0;
}

.twitchSchedule__item:focus {
  outline: none;
  box-shadow: var(--color-primary) 0 0 0 0.25rem;
  transition: box-shadow var(--global-transition-time) ease 0s;
}

.twitchSchedule__itemTitle {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  color: var(--color-background);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.twitchSchedule__itemCat {
  display: block;
  color: var(--color-background);
  font-family: var(--font-family-main);
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.twitchSchedule__itemDate {
  display: block;
  color: var(--color-background);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.twitchSchedule__itemTime {
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  color: var(--color-primary);
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-bold);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.twitchSchedule__itemTimeZone {
  display: block;
  font-size: 1rem;
  line-height: 1.4;
}

.twitchSchedule__itemCancelled {
  background-color: var(--color-tertiary);
  color: var(--color-background);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-main);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.twitchSchedule__vacation {
  background-color: var(--color-primary);
  color: var(--color-foreground);
  font-family: var(--font-family-main);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 768px) {
  .twitchSchedule__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .twitchSchedule__item {
    border-bottom-width: 0;
  }

  .twitchSchedule__item:first-of-type {
    text-align: left;
  }

  .twitchSchedule__item:nth-of-type(2) {
    text-align: center;
  }

  .twitchSchedule__item:last-of-type {
    text-align: right;
  }

  .twitchSchedule__title {
    font-size: 1.4rem;
  }

  .twitchSchedule__title svg {
    height: 2rem;
    width: 2rem;
  }

  .twitchSchedule__header {
    flex-direction: row;
    height: 4rem;
    padding-bottom: 0;
  }

  .twitchSchedule__liveNow {
    display: inline-block;
    margin-left: 1rem;
    width: unset;
    order: 2;
    margin-bottom: 0;
  }

  .twitchSchedule__itemCancelled {
    margin-bottom: 0;
  }
}
